*/bin
*/obj

*.dat
*.map
*.suo

!bootstrap.js
!everlive.js
!gruntfile.js

/lib/
/.metadata/
/.tscache
/node_modules
/platforms

platforms/ios/*
!platforms/ios/Sample-TelerikNext
platforms/ios/Sample-TelerikNext/*
!platforms/ios/Sample-TelerikNext/Images.xcassets
!platforms/ios/Sample-TelerikNext/Sample-TelerikNext-Info.plist

/hooks/
.cloud/Build.zip
.cloud/android/guaysinns.apk
