.title {
    font-size: 40;
    horizontal-align: center;
    margin: 20;
}

button {
    font-size: 25;
    horizontal-align: center;
}

.message {
    font-size: 20;
    color: #284848;
    horizontal-align: center;
    margin: 0 20;
    text-align: center;
}

textfield {
    color: blue;
    margin:20;
    padding:20;
}
